<?xml version="1.0"?>
<config>
    <modules>
        <Brander_CheckoutCart>
            <version>0.1.0</version>
        </Brander_CheckoutCart>
    </modules>
    <global>
        <models>
            <brander_checkoutCart>
                <class>Brander_CheckoutCart_Model</class>
            </brander_checkoutCart>
        </models>
        <blocks>
            <brander_checkoutCart>
                <class>Brander_CheckoutCart_Block</class>
            </brander_checkoutCart>
        </blocks>
        <helpers>
            <brander_checkoutCart>
                <class>Brander_CheckoutCart_Helper</class>
            </brander_checkoutCart>
        </helpers>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <brander_checkoutCart>
                    <file>brander_checkoutCart.xml</file>
                </brander_checkoutCart>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <brander_checkoutCart>
                    <file>brander_checkoutCart.xml</file>
                </brander_checkoutCart>
            </updates>
        </layout>
        <routers>
            <checkout>
                <args>
                    <modules>
                        <brander_checkoutCart before="Mage_Checkout">Brander_CheckoutCart</brander_checkoutCart>
                    </modules>
                </args>
            </checkout>
        </routers>
    </frontend>
</config>